<!DOCTYPE html>
<html class="overflow-y-scroll bg-govuk-gray">
  <head>
    <meta charset="utf-8">
    <title>Webchat prototype experiments</title>
    <link rel="stylesheet" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" />
    <link rel="stylesheet" href="/public/stylesheets/tachyons.min.css" />
    <link rel="stylesheet" href="/public/stylesheets/bespoke.css" />
  </head>
  <body class="new-transport wfs-aa bg-white">
    <header class="bg-govuk-black white pv2">
      <div class="mw8 ph4 center">
        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" class="b white link f1875 tr-ol lh-solid dib govuk-logo mt1">
          GOV.UK
        </a>
      </div>
    </header>
    <div class="mw8 ph4 center">
      <div class="bg-govuk-navy h0625"></div>
    </div>
    <main class="mw8 ph4 center pb6">
      <h1 class="f1 mt1875 mb3750">Other prototypes / experiments</h1>

      <div id="webchat-root"></div>
    </main>
    <footer class="pt5 pb5 bg-govuk-gray-1 b--govuk-gray-2 bt govuk-light-gray">
      <div class="mw8 ph4 center f0">
        <div class="dib v-btm f5 w-75">
          <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="ogl-logo overflow-hidden dib">Open Government Licence</a>
          All content is available under the <a class="govuk-gray-4 underline" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </div>
        <div class="dib v-btm f5 w-25 tr crown-copyright">&copy; Crown copyright</div>
      </div>
    </footer>
    <script src="/public/javascripts/bundle.js"></script>
  </body>
</html>
