<!DOCTYPE html>
<html class="h-100 overflow-y-scroll">
  <head>
    <meta charset="utf-8">
    <title>GOV.UK Webchat</title>
    <link rel="stylesheet" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" />
    <link rel="stylesheet" href="/public/stylesheets/tachyons.min.css" />
    <link rel="stylesheet" href="/public/stylesheets/custom.css" />
  </head>
  <body class="h-100 new-transport wfs-aa">
    <main class="h-100 mw6 ph3 ph4-ns center">
      <div class="h-100" id="webchat-root" data-webchat-type="client"></div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/javascripts/bundle.js"></script>
  </body>
</html>
