{% extends "layout.html" %}

{% block page_title %}
  Webchat Implementations
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Webchat Implementations</h1>

      <ul>
        <li><a href="/webchat-implementations/deskpro">DeskPro</a></li>
        <li><a href="/webchat-implementations/tawk">Tawk</a></li>
        <li><a href="/webchat-implementations/livechatinc">LiveChatInc</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
