<!-- related -->
<div class="related-container">
  <aside class="related" id="related">
    <div class="inner group related-subsection">
      <h2 id="parent-subsection">Benefits entitlement</h2>
      <nav role="navigation" aria-labelledby="parent-subsection">
        <ul>
          <li> <a href="/benefits-calculators">Benefits calculators</a> </li>
          <li> <a href="/employment-support-allowance">Employment and Support Allowance (ESA)</a> </li>
          <li> <a href="/how-to-have-your-benefits-paid">How and when your benefits are paid</a> </li>
          <li> <a href="/universal-credit">Universal Credit</a> </li>
          <li class="related-topic"><a href="/browse/benefits/entitlement">More <span class="visuallyhidden">in Benefits entitlement</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="inner group related-other">
      <h2 id="parent-other">Elsewhere on GOV.UK</h2>
      <nav role="navigation" aria-labelledby="parent-other">
        <ul>
          <li> <a href="/jobsearch">Find a job with Universal Jobmatch</a> </li>
          <li> <a href="/contact-jobcentre-plus">Contact Jobcentre Plus</a> </li>
        </ul>
      </nav>
    </div>
    <div class="inner group"> <a class="return-to-top" href="#content">Return to top ↑</a> </div>
  </aside>
</div>
<!-- end related -->
