{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet" />
{% endblock %}

{% block page_title %}
  Check your State Pension age - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="b f2 f1-l mv4">Check your State Pension</h1>
      <h2 class="b f3 mv3">Enter your National Insurance number</h2>
      <div id="nino-error" class="form-group error dn">
        <label class="form-label-bold" for="example-form-control">
          <span class="error-message">No National Insurance number provided</span>
        </label>
      </div>
      <div class="form-group">
        <label class="form-label" for="nino">National Insurance number</label>
        <input class="form-control" id="nino" name="nino" type="text">
      </div>
      <details class="mb3">
        <summary>I cannot find my National Insurance number</summary>
        <div>
          <p>We can find your National Insurance number or issue one if you have not had one before.</p>
          <h2 class="b f3 mv3"><a class="js-trigger-custom-overlay" href="#">Chat</a></h2>
          <p><a class="js-trigger-custom-overlay" href="#">Start an online chat with an adviser</a><br />About a 2 minute queue</p>

          <h2 class="b f3 mv3">Call us</h2>
          <p>0345 300 3900<br />About a 3 minute queue<br />Calls cost up to 12p a minute from a landline and up to 45p a minute from a mobile</p>
        </div>
      </details>
      <a rel="nofollow" href="/state-pension-age/enter-postcode" class="button state-pension-age-next">Next</a>
    </div>
  </div>
  <div id="webchat-root" data-webchat-type="client-overlay"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/javascripts/bundle.js"></script>
</main>

{% endblock %}
