{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet" />
{% endblock %}

{% block page_title %}
  Pay the Dartford Crossing charge (Dart Charge) - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <form class="column-two-thirds" method="post">
      <h1 class="b f2 f1-l mv4">Pay the Dartford Crossing charge (Dart Charge)</h1>
      <h2 class="b f3 mv3">What date do you want to pay for?</h2>
      <div class="form-date cf" style="margin-bottom: 30px">
        <div class="form-group form-group-day">
          <label class="form-label" for="pay-day">Day</label>
          <input class="form-control" id="pay-day" name="pay-day" type="text">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="pay-month">Month</label>
          <input class="form-control" id="pay-month" name="pay-month" type="text">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="pay-year">Year</label>
          <input class="form-control" id="pay-year" name="pay-year" type="text">
        </div>
      </div>
      <input type="hidden" name="nextPage" value="email">
      <input type="submit" value="Next" class="button">
    </form>
  </div>
</main>

{% endblock %}

{% block footer_top %}
  {% include "includes/contact/dart.html" %}
{% endblock %}
