{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet" />
{% endblock %}

{% block page_title %}
  Pay the Dartford Crossing charge (Dart Charge) - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="b f2 f1-l mv4">Pay the Dartford Crossing charge (Dart Charge)</h1>
      <p>
        <a rel="external" href="#">Sign in to your Dart Charge account</a> to pay or use this service to:
      </p>
      <ul class="ml1 pl3" style="list-style-type: disc">
        <li>pay for a one-off crossing online</li>
        <li>pay a Penalty Charge Notice (PCN)</li>
        <li>set up an account</li>
        <li>apply for a local resident discount account</li>
        <li>check how many crossings you’ve paid for</li>
      </ul>
      <div class="transaction">
        <div class="get-started">
          <p id="get-started" class="get-started group">
            <a href="/pay-dartford-crossing-charge/vr" class="button mt2" role="button"
              style="font-size: 24px;line-height: 0.66667;padding: 0.60em 1.7em 0.45em 0.67em;background-image: url(https://assets.publishing.service.gov.uk/static/icon-pointer-73fdb5b0e577f60fabed035f3b3f52ef73742431aef9e01ac01bdf40efc1a266.png);background-position: 100% 50%;background-repeat: no-repeat;"
            >Start now</a>
          </p>
        </div>
      </div>
      <h3 class="mt3 b f3">Before you start</h3>
      <p>The <a href="#">crossing charge</a> depends on your vehicle and account type.</p>
      <p>Charges apply between 6am and 10pm every day, including Christmas and other bank holidays.</p>
      <p>You must pay by midnight the day after you cross.</p>
      <p>You can get a <a href="#">resident’s discount</a> if you live in Thurrock or Dartford.</p>

      <h3 class="b f3">Other ways to pay</h3>
      <p>You can:</p>
      <ul class="ml1 pl3" style="list-style-type: disc">
        <li> <a href="#">set up an account or apply for a local resident discount account</a> by post</li>
        <li> <a rel="external" href="#">pay with cash</a> at a payzone outlet</li>
        <li> <a href="#">pay in advance or top-up a Dart Charge account</a> by post</li>
        <li>pay or set up an account by phone</li>
        <li>convert an old Dart Tag account into a Dart Charge account by phone - you can no longer do this online</li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}

{% block footer_top %}
  {% include "includes/contact/dart.html" %}
{% endblock %}
