$govuk-black-1: #0B0C0C;
$govuk-navy-1: #005EA5;
$govuk-gray-1: #6F777B;
$govuk-gray-2: #DEE0E2;
$govuk-green-1: #00823B;
$govuk-green-2: #003618;
$govuk-green-3: #00692F;
$govuk-yellow: #FFBF47;
$purple: #7337A9;

// Overrides for stuff Tacyhons breaks.
html, body { font-size: 100% }
#global-header .header-wrapper { padding-left: 0; padding-right: 0 }

.govuk-black-1 { color: $govuk-black-1 }
.govuk-gray-1 { color: $govuk-gray-1 }
.b--govuk-gray-1 { border-color: $govuk-gray-1 }
.bg-purple { background-color: $purple }
.bg-govuk-black-1 { background-color: $govuk-black-1 }
.bg-govuk-green-1 { background-color: $govuk-green-1 }
.bg-govuk-navy-1 { background-color: $govuk-navy-1 }
.bg-govuk-gray-2 { background-color: $govuk-gray-2 }
.hover-bg-govuk-green-3:hover { background-color: $govuk-green-3 }
.shadow-green { box-shadow: 0 2px 0 $govuk-green-2 }
.outline:focus { outline: 3px solid $govuk-yellow }
.outline-govuk-yellow { outline: 3px solid $govuk-yellow }

.ba2 { border-style: solid; border-width: 2px }

.active-offset:active { top: 2px }

.new-transport { font-family: 'nta', 'helvetica neue', helvetica, sans-serif }
.wfs-aa { -webkit-font-smoothing: antialiased }
.wos-t { -webkit-overflow-scrolling: touch }

.ml-25 { margin-left: 25% }
.flex-grow-1 { flex-grow: 1 }
.transition-transform { transition: transform .2s ease }
