{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet" />
{% endblock %}

{% block page_title %}
  Tell DVLA you've changed address - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-large">
    Check your email
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>something about why this is happening</p>
      <p>email will contain this link:</p>
      <p>
        <a href="https://yfiton.herokuapp.com/journey/dvla-change-address/{{id}}/result?token=bd1a7605-ef79-11e6-ac6f-3c15c2d595bc">https://yfiton.herokuapp.com/journey/dvla-change-address/{{id}}/result?token=bd1a7605-ef79-11e6-ac6f-3c15c2d595bc</a>
      </p>
    </div>
  </div>
</main>

{% endblock %}
