{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet" />
{% endblock %}

{% block page_title %}
  Tell DVLA you've changed address - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div>
    <form method="post" id="backoffice">
      <div style="background: #fd3;">
        <h1 class="heading-xlarge">Notify prototype backend</h1>
      </div>

      <a href="/admin" class="big button" style="
        position: relative;
        top: -105px;
        left: -5px;
        background: rgba(0, 0, 0, 0.7);
        float: right;
      ">Back to list</a>
      <h2 class="heading-medium">Edit</h1>

      <div class="form-group">
        <label class="form-label" for="{{ field }}">Name</label>
        <input class="form-control" id="{{ field }}" name="{{ field }}" type="text" value="{{ value }}">
      </div>
      <input type="submit" class="big button">
    </form>
  </div>
</main>

{% endblock %}
