{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet" />
{% endblock %}

{% block page_title %}
  Tell DVLA you've changed address - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <form class="column-two-thirds" method="post">
      <h1 class="b f2 f1-l mv4">Tell DVLA you’ve changed address</h1>
      <h2 class="b f3 mv3">How can we contact you?</h2>
      <div class="form-group">
        <label class="form-label" for="address">Phone number</label>
        <input class="form-control" id="phone" name="phone" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="postcode">Email address</label>
        <input class="form-control" id="email" name="email" type="text">
      </div>
      <input type="hidden" name="nextPage" value="result">
      <input type="submit" class="big button">
    </form>
  </div>
</main>

{% endblock %}
