{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet" />
{% endblock %}

{% block page_title %}
  Tell DVLA you've changed address - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <form class="column-two-thirds" method="post">
      <h1 class="b f2 f1-l mv4">Tell DVLA you’ve changed address</h1>
      <h2 class="b f3 mv3">How can we contact you?</h2>



      <fieldset>

        <legend class="visually-hidden">How do you want to be contacted?</legend>

        <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
          <input id="example-contact-by-email" type="radio" name="contact-me-by" value="Email">
          Email
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          <label class="form-label" for="contact-email">Email address</label>
          <input class="form-control" name="email" type="text" id="contact-email">
        </div>

        <label class="block-label selection-button-radio" data-target="contact-by-text" for="example-contact-by-text">
          <input id="example-contact-by-text" type="radio" name="contact-me-by" value="Text message">
          Text message
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
          <label class="form-label" for="contact-text-message">Mobile phone number</label>
          <input class="form-control" name="phone" type="text" id="contact-text-message">
        </div>

      </fieldset>




      <input type="hidden" name="nextPage" value="result">
      <input type="submit" class="big button">
    </form>
  </div>
</main>

{% endblock %}
