{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet" />
{% endblock %}

{% block page_title %}
  Tell DVLA you've changed address - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <form class="column-two-thirds" method="post" id="backoffice">
      {% if sentTo %}
        <div
          style="margin: 30px 0 0 0; padding: 1px 30px 15px; background: #33FF3F; border: 8px dotted #fff;"
        >
          <h1 class="heading-large">💬 {{ sentTo }} 👍</h1>
        </div>
        <a class="heading-medium" style="display: block; text-shadow: 2px 2px 0 #fff; font-weight: bold;" href="update">Back</a>
      {% else %}
        <div
          style="margin: 30px 0 0 0; padding: 1px 30px 30px; background: #fd3; border: 8px dotted #000;"
        >
          <h1 class="b f2 f1-l mv4">Send a text</h1>
          <div class="form-group">
            <fieldset style="border: 0; padding: 0">

              <legend class="visually-hidden">Where do you live?</legend>

              <label class="block-label" for="radio-1">
                <input id="radio-1" type="radio" name="template" value="8b5eb752-be41-4766-ab80-e3f171eb3745">
                Track licence
              </label>
              <label class="block-label" for="radio-2">
                <input id="radio-2" type="radio" name="template" value="ffa370ad-4129-4ceb-86b6-6a4c64db9250">
                Licence delivered
              </label>

            </fieldset>
          </div>
          <div class="form-group">
            <label class="form-label" for="address">Phone number</label>
            <input class="form-control" id="phone" name="phone" type="text">
          </div>
          <input type="submit" class="big button">
        </div>
      {% endif %}
    </form>
  </div>
</main>

{% endblock %}
