{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet" />
{% endblock %}

{% block page_title %}
  Tell DVLA you've changed address - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div>
    <form method="post" id="backoffice">
      <div style="background: #fd3;">
        <h1 class="heading-xlarge">Notify prototype backend</h1>
      </div>

      <a href="/admin" class="big button" style="
        position: relative;
        top: -105px;
        left: -5px;
        background: rgba(0, 0, 0, 0.7);
        float: right;
      ">Back to list</a>
      <h2 class="heading-medium">Send a message</h1>
      <div class="form-group">
        <fieldset style="border: 0; padding: 0">

          <legend class="visually-hidden">Where do you live?</legend>

          <label class="block-label" for="radio-1">
            <input id="radio-1" type="radio" name="template" value="8b5eb752-be41-4766-ab80-e3f171eb3745">
            Track licence
          </label>
          <label class="block-label" for="radio-2">
            <input id="radio-2" type="radio" name="template" value="ffa370ad-4129-4ceb-86b6-6a4c64db9250">
            Licence delivered
          </label>

        </fieldset>
      </div>
      <div class="form-group">
        <label class="form-label" for="address">Phone number</label>
        <input class="form-control" id="phone" name="phone" type="text" value="{{ phone }}">
      </div>
      <input type="submit" class="big button">
    </form>
  </div>
</main>

{% endblock %}
