<div class="f4">
  <p><strong>Contact Dart Charge</strong></p>
  <p>

    <a href="#" class="js-trigger-custom-overlay">Start an online chat with an adviser</a><br />
    <a href="#mailto:test@example.com">Email customer service</a><br />
    Telephone: 0345 300 3900<br />
    Calls cost up to 12p a minute from a landline and up to 45p a minute from a mobile
  </p>
  <div id="webchat-root" data-webchat-type="client-overlay"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/javascripts/bundle.js"></script>
</div>
