{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
  {% include "includes/implementations/deskpro.html" %}
{% endblock %}

{% block page_title %}
  Shared Parental Leave and Pay - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/childcare.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Shared Parental Leave and Pay</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/shared-parental-leave-and-pay/overview">Overview</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/shared-parental-leave-and-pay/eligibility">Eligibility</a> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: When you can start" href="/shared-parental-leave-and-pay/when-you-can-start">When you can start</a> </li>
                  </ol>
                  <ol start="4">
                    <li> <span class="part-number">4.</span> <a title="Part 4: What you'll get" href="/shared-parental-leave-and-pay/what-youll-get">What you'll get</a> </li>
                    <li class="active"> <span class="part-number">5.</span> <span>Applying for leave and pay</span> </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Booking blocks of leave" href="/shared-parental-leave-and-pay/booking-blocks-of-leave">Booking blocks of leave</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>5. Applying for leave and pay</h1> </header>
            <p>You must give notice to your employer in writing if you want to start Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) or Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>). You can give notice for leave and
              pay at the same time if you’re eligible to get both.</p>
            <p>You can give notice using forms created by the Advisory, Conciliation and Arbitration Service (<abbr title="Advisory, Conciliation and Arbitration Service">Acas</abbr>).</p>
            <div class="form-download">
              <p><a href="http://www.acas.org.uk/media/word/0/b/Shared-parental-leave-forms-for-maternity.doc">Download ‘Shared parental leave forms (for maternity)’ (DOC, 156KB)</a></p>
            </div>
            <div class="form-download">
              <p><a href="http://www.acas.org.uk/media/word/0/o/Shared-parental-leave-form-for-adoption.doc">Download ‘Shared parental leave forms (for adoption)’ (DOC, 159KB)</a></p>
            </div>
            <div class="form-download">
              <p><a href="http://www.acas.org.uk/media/word/1/6/Shared-parental-leave-forms-for-parental-order-parents.doc">Download ‘Shared parental leave forms (for parental order surrogacy)’ (DOC, 160KB)</a></p>
            </div>
            <p>You can change your mind later about how much <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr> you plan to take and when you want to take it. You must give notice of any changes at least
              8 weeks before the start of any leave.</p>
            <div role="note" aria-label="Help" class="application-notice help-notice">
              <p>You might not get <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr> if you don’t include all the required information.</p>
            </div>
            <p>Your partner must apply to their own employer if they also want <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>
            <h2>Giving more information</h2>
            <p>Your employer can ask you for more information within 14 days of you applying for <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr>. They can ask for:</p>
            <ul>
              <li>a copy of the birth certificate</li>
              <li>a declaration of the place and date of birth (if the birth hasn’t been registered yet)</li>
              <li>the name and address of your partner’s employer or a declaration that your partner has no employer</li>
            </ul>
            <p>If you’re adopting, your employer can ask for the:</p>
            <ul>
              <li>name and address of the adoption agency</li>
              <li>date you were matched with the child</li>
              <li>date the child will be start to live with you</li>
              <li>name and address of your partner’s employer or a declaration that your partner has no employer</li>
            </ul>
            <p>You must give this information within 14 days of being asked for it.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/shared-parental-leave-and-pay/what-youll-get"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">What you'll get</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/shared-parental-leave-and-pay/booking-blocks-of-leave"> <span class="pagination-label">Next</span> <span class="pagination-part-title">Booking blocks of leave</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/shared-parental-leave-and-pay/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 16 March 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/childcare.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
