{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
  {% include "includes/implementations/deskpro.html" %}
{% endblock %}

{% block page_title %}
  Shared Parental Leave and Pay - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/childcare.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Shared Parental Leave and Pay</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/shared-parental-leave-and-pay/overview">Overview</a> </li>
                    <li class="active"> <span class="part-number">2.</span> <span>Eligibility</span> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: When you can start" href="/shared-parental-leave-and-pay/when-you-can-start">When you can start</a> </li>
                  </ol>
                  <ol start="4">
                    <li> <span class="part-number">4.</span> <a title="Part 4: What you'll get" href="/shared-parental-leave-and-pay/what-youll-get">What you'll get</a> </li>
                    <li> <span class="part-number">5.</span> <a title="Part 5: Applying for leave and pay" href="/shared-parental-leave-and-pay/applying-for-leave-and-pay">Applying for leave and pay</a> </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Booking blocks of leave" href="/shared-parental-leave-and-pay/booking-blocks-of-leave">Booking blocks of leave</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>2. Eligibility</h1> </header>
            <p>Each parent qualifies separately for Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) and Statutory Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>).</p>
            <p>If you’re eligible you can start <abbr title="Shared Parental Leave">SPL</abbr> and take leave in separate blocks, instead of taking it all in one go like maternity or adoption leave. You can also share the leave between you if you’re both
              eligible.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>You can <a href="/pay-leave-for-parents">check whether you can get leave and pay</a>, including <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>
            </div>
            <h2>Shared Parental Leave</h2>
            <p>To qualify for <abbr title="Shared Parental Leave">SPL</abbr>, you must share responsibility for the child with one of the following:</p>
            <ul>
              <li>your husband, wife, civil partner or joint adopter</li>
              <li>the child’s other parent</li>
              <li>your partner (if they live with you and the child)</li>
            </ul>
            <p>You or your partner must be eligible for <a href="/maternity-pay-leave/eligibility">maternity pay or leave</a>, <a href="/adoption-pay-leave/eligibility">adoption pay or leave</a> or <a href="/maternity-allowance/eligibility">Maternity Allowance</a>.</p>
            <p>You must also:</p>
            <ul>
              <li>have been employed continuously by the same employer for at least 26 weeks by the end of the 15th week before the due date (or by the date you’re matched with your adopted child)</li>
              <li>stay with the same employer while you take <abbr title="Shared Parental Leave">SPL</abbr> </li>
            </ul>
            <p>During the 66 weeks before the week the baby’s due (or the week you’re matched with your adopted child) your partner must:</p>
            <ul>
              <li>have been working for at least 26 weeks (they don’t need to be in a row)</li>
              <li>have earned at least £390 in total in 13 of the 66 weeks (add up the highest paying weeks, they don’t need to be in a row)</li>
            </ul>
            <p>This can be as an employee, worker or self-employed person. Your partner doesn’t have to be working at the date of birth or when you start <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>
            <h2>Statutory Shared Parental Pay</h2>
            <p>You can get <abbr title="Statutory Shared Parental Pay">ShPP</abbr> if you’re an <a href="/employment-status/employee">employee</a> and one of the following applies:</p>
            <ul>
              <li>you’re eligible for Statutory Maternity Pay (<abbr title="Statutory Maternity Pay">SMP</abbr>) or Statutory Adoption Pay (<abbr title="Statutory Adoption Pay">SAP</abbr>)</li>
              <li>you’re eligible for Statutory Paternity Pay (<abbr title="Statutory Paternity Pay">SPP</abbr>) and your partner is eligible for <abbr title="Statutory Maternity Pay">SMP</abbr>, Maternity Allowance (<abbr title="Maternity Allowance">MA</abbr>)
                or <abbr title="Statutory Adoption Pay">SAP</abbr> </li>
            </ul>
            <p>You can also get <abbr title="Statutory Shared Parental Pay">ShPP</abbr> if you’re a <a href="/employment-status/worker">worker</a> and you’re eligible for <abbr title="Statutory Maternity Pay">SMP</abbr> or <abbr title="Statutory Paternity Pay">SPP</abbr>.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/shared-parental-leave-and-pay/overview"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">Overview</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/shared-parental-leave-and-pay/when-you-can-start"> <span class="pagination-label">Next</span> <span class="pagination-part-title">When you can start</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/shared-parental-leave-and-pay/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 16 March 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/childcare.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
