{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
  {% include "includes/implementations/deskpro.html" %}
{% endblock %}

{% block page_title %}
  Shared Parental Leave and Pay - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/childcare.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Shared Parental Leave and Pay</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li class="active"> <span class="part-number">1.</span> <span>Overview</span> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/shared-parental-leave-and-pay/eligibility">Eligibility</a> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: When you can start" href="/shared-parental-leave-and-pay/when-you-can-start">When you can start</a> </li>
                  </ol>
                  <ol start="4">
                    <li> <span class="part-number">4.</span> <a title="Part 4: What you'll get" href="/shared-parental-leave-and-pay/what-youll-get">What you'll get</a> </li>
                    <li> <span class="part-number">5.</span> <a title="Part 5: Applying for leave and pay" href="/shared-parental-leave-and-pay/applying-for-leave-and-pay">Applying for leave and pay</a> </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Booking blocks of leave" href="/shared-parental-leave-and-pay/booking-blocks-of-leave">Booking blocks of leave</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>1. Overview</h1> </header>
            <p>You may be able to get Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) and Statutory Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>) if:</p>
            <ul>
              <li>your baby is due on or after 5 April 2015</li>
              <li>you adopt a child on or after 5 April 2015</li>
            </ul>
            <p>If you’re <a href="/shared-parental-leave-and-pay/eligibility">eligible for <abbr title="Shared Parental Leave">SPL</abbr></a> you can use it to <a href="/shared-parental-leave-and-pay/booking-blocks-of-leave">take leave in blocks</a> separated
              by periods of work, instead of taking it all in one go.</p>
            <p>To <a href="/shared-parental-leave-and-pay/when-you-can-start">start <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr></a> the mother must end her maternity leave (for <abbr title="Shared Parental Leave">SPL</abbr>)
              or her Maternity Allowance or maternity pay (for <abbr title="Statutory Shared Parental Pay">ShPP</abbr>). If she doesn’t get maternity leave (but she ends her Maternity Allowance or pay early) her partner might still get <abbr title="Shared Parental Leave">SPL</abbr>.</p>
            <p>If you’re adopting then you or your partner must end any adoption leave or adoption pay early instead.</p>
            <p>If you’re eligible you can take:</p>
            <ul>
              <li>the remaining leave as <abbr title="Shared Parental Leave">SPL</abbr> (52 weeks minus any weeks of maternity or adoption leave)</li>
              <li>the remaining pay as <abbr title="Statutory Shared Parental Pay">ShPP</abbr> (39 weeks minus any weeks of maternity pay, maternity allowance or adoption pay)</li>
            </ul>
            <p>If neither of you is entitled to maternity or adoption leave then <abbr title="Shared Parental Leave">SPL</abbr> will be 52 weeks minus any weeks of maternity pay, Maternity Allowance or adoption pay.</p>
            <p>You can share <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr> between you if you’re both eligible.</p>
            <div class="example">
              <p><strong>Example</strong> A mother and her partner are both eligible for <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr>. The mother ends her maternity leave and pay after 12 weeks,
                leaving 40 weeks available for <abbr title="Shared Parental Leave">SPL</abbr> and 27 weeks available for <abbr title="Statutory Shared Parental Pay">ShPP</abbr>. The parents can choose how to split this.</p>
            </div>
            <p><abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr> must be taken between the baby’s birth and first birthday (or within one year of adoption).</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/shared-parental-leave-and-pay/eligibility"> <span class="pagination-label">Next</span> <span class="pagination-part-title">Eligibility</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/shared-parental-leave-and-pay/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 16 March 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/childcare.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
