{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
  {% include "includes/implementations/deskpro.html" %}
{% endblock %}

{% block page_title %}
  Shared Parental Leave and Pay - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/childcare.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Shared Parental Leave and Pay</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/shared-parental-leave-and-pay/overview">Overview</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/shared-parental-leave-and-pay/eligibility">Eligibility</a> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: When you can start" href="/shared-parental-leave-and-pay/when-you-can-start">When you can start</a> </li>
                  </ol>
                  <ol start="4">
                    <li class="active"> <span class="part-number">4.</span> <span>What you'll get</span> </li>
                    <li> <span class="part-number">5.</span> <a title="Part 5: Applying for leave and pay" href="/shared-parental-leave-and-pay/applying-for-leave-and-pay">Applying for leave and pay</a> </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Booking blocks of leave" href="/shared-parental-leave-and-pay/booking-blocks-of-leave">Booking blocks of leave</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>4. What you'll get</h1> </header>
            <p>If you’re <a href="/shared-parental-leave-and-pay/eligibility">eligible</a> and you or your partner end maternity or adoption leave and pay (or Maternity Allowance) early, then you can:</p>
            <ul>
              <li>take the rest of the 52 weeks of maternity or adoption leave as Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>)</li>
              <li>take the rest of the 39 weeks of maternity or adoption pay (or Maternity Allowance) as Statutory Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>)</li>
            </ul>
            <h2>How much pay you’ll get</h2>
            <p><abbr title="Statutory Shared Parental Pay">ShPP</abbr> is paid at the rate of £139.58 a week or 90% of your average weekly earnings, whichever is lower.</p>
            <p>This is the same as <a href="#">Statutory Maternity Pay (<abbr title="Statutory Maternity Pay">SMP</abbr>)</a> except that during the first 6 weeks <abbr title="Statutory Maternity Pay">SMP</abbr> is paid at 90% of whatever
              you earn (with no maximum).</p>
            <div class="example">
              <p><strong>Example</strong> A woman decides to start her maternity leave 4 weeks before the due date and gives notice that she’ll start <abbr title="Shared Parental Leave">SPL</abbr> from 10 weeks after the birth (taking a total of 14 weeks
                maternity leave). She normally earns £200 a week.</p>
              <p>She’s paid £180 (90% of her average weekly earnings) as <abbr title="Statutory Maternity Pay">SMP</abbr> for the first 6 weeks of maternity leave, then £139.58 a week for the next 8 weeks. Once she goes onto <abbr title="Shared Parental Leave">SPL</abbr>,
                she’s still paid £139.58 a week.</p>
            </div>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/shared-parental-leave-and-pay/when-you-can-start"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">When you can start</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/shared-parental-leave-and-pay/applying-for-leave-and-pay"> <span class="pagination-label">Next</span> <span class="pagination-part-title">Applying for leave and pay</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="#" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 16 March 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/childcare.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
