{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Shared Parental Leave and Pay - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/childcare.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Shared Parental Leave and Pay</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/shared-parental-leave-and-pay/overview">Overview</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/shared-parental-leave-and-pay/eligibility">Eligibility</a> </li>
                    <li class="active"> <span class="part-number">3.</span> <span>When you can start</span> </li>
                  </ol>
                  <ol start="4">
                    <li> <span class="part-number">4.</span> <a title="Part 4: What you'll get" href="/shared-parental-leave-and-pay/what-youll-get">What you'll get</a> </li>
                    <li> <span class="part-number">5.</span> <a title="Part 5: Applying for leave and pay" href="/shared-parental-leave-and-pay/applying-for-leave-and-pay">Applying for leave and pay</a> </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Booking blocks of leave" href="/shared-parental-leave-and-pay/booking-blocks-of-leave">Booking blocks of leave</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>3. When you can start</h1> </header>
            <p>You can only start Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) or Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>) once the child has been born or placed for adoption. The mother (or
              the person getting adoption leave or pay) must do one of the following:</p>
            <ul>
              <li>end any maternity or adoption leave by returning to work</li>
              <li>give their employer ‘binding notice’ (a decision that can’t normally be changed) of the date when they plan to end any maternity or adoption leave</li>
            </ul>
            <p>They must also end any maternity pay, Maternity Allowance or adoption pay. If they don’t get leave (eg they’re an agency worker or self-employed) they must still end any pay.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>The mother or adopter must give at least 8 weeks’ notice to their employer (for maternity or adoption pay) or to Jobcentre Plus (for Maternity Allowance) if they haven’t returned to work.</p>
            </div>
            <p>You can start <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr> while your partner is still on maternity or adoption leave and pay as long as they’ve given binding notice to end it.</p>
            <p>A mother can’t return to work before the end of the compulsory 2 weeks of maternity leave following the birth (4 weeks if she works in a factory). If you’re adopting the person claiming adoption pay must take at least 2 weeks of adoption leave.</p>
            <div class="example">
              <p><strong>Example</strong> A mother and her partner are both eligible for <abbr title="Shared Parental Leave">SPL</abbr>.</p>
              <p>The mother goes on maternity leave 2 weeks before her baby is born. She gives notice to her employer that she’ll take 16 weeks of maternity leave.</p>
              <p>Since the mother has given binding notice, her partner can start <abbr title="Shared Parental Leave">SPL</abbr> as soon as the baby has been born (as long as her partner has given at least 8 weeks’ notice to their employer).</p>
            </div>
            <h2>Cancelling the decision to end maternity or adoption leave</h2>
            <p>The mother or adopter may be able to change their decision to end maternity or adoption leave early if both:</p>
            <ul>
              <li>the planned end date hasn’t passed</li>
              <li>they haven’t already returned to work</li>
            </ul>
            <p>One of the following must also apply:</p>
            <ul>
              <li>you find out during the 8-week notice period that neither of you is eligible for <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr> </li>
              <li>the mother or adopter’s partner has died</li>
              <li>the mother tells her employer less than 6 weeks after the birth (and she gave notice before the birth)</li>
            </ul>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/shared-parental-leave-and-pay/eligibility"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">Eligibility</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/shared-parental-leave-and-pay/what-youll-get"> <span class="pagination-label">Next</span> <span class="pagination-part-title">What you'll get</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/shared-parental-leave-and-pay/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 16 March 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/childcare.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
