{% extends "layout.html" %}

{% block page_title %}
  Webchat Implementations
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Webchat Implementations</h1>

      <p>Third party implementations</p>

      <ul>
        <li><a href="/implementations/deskpro">DeskPro</a></li>
        <li><a href="/implementations/tawk">Tawk</a></li>
        <li><a href="/implementations/livechatinc">LiveChatInc</a></li>
        <li><a href="/implementations/intercom">Intercom</a></li>
      </ul>

      <hr />

      <p>Custom implementation</p>
      <ul>
        <li><a href="/implementations/custom">Custom Webchat, in a page as part of the main content</a></li>
        <li><a href="/implementations/custom-overlay">Custom Webchat, as an overlay</a></li>
        <li><a href="/agent">Custom Webchat, agent interface</a></li>
        <li><a href="#" class="js-trigger-custom-window">Custom Webchat, in a separate window</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
