{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Jobseeker's Allowance (JSA) - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/benefits.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Jobseeker's Allowance (JSA)</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: How it works" href="/jobseekers-allowance/overview">How it works</a> </li>
                    <li class="active"> <span class="part-number">2.</span> <span>Eligibility</span> </li>
                  </ol>
                  <ol start="3">
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim or reclaim" href="/jobseekers-allowance/how-to-claim">How to claim or reclaim</a> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: Your JSA claim" href="/jobseekers-allowance/further-information">Your JSA claim</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>2. Eligibility</h1> </header>
            <p>You could get Jobseeker’s Allowance (<abbr title="Jobseeker's Allowance">JSA</abbr>) if all of the following apply:</p>
            <ul>
              <li>you’re 18 or over (there are some exceptions if you’re 16 or 17 - <a href="/contact-jobcentre-plus">contact Jobcentre Plus</a> for advice)</li>
              <li>you’re under <a href="/state-pension-age">State Pension age</a> </li>
              <li>you’re not in full-time education</li>
              <li>you’re in England, Scotland or Wales</li>
              <li>you’re available for work</li>
              <li>you’re actively seeking work</li>
              <li>you work on average less than 16 hours per week</li>
            </ul>
            <p>The rules are different in <a rel="external" href="http://www.nidirect.gov.uk/index/information-and-services/money-tax-and-benefits/benefits-and-financial-support/employed-or-looking-for-work/jobseekers-allowance/jobseekers-allowance-introduction.htm">Northern Ireland.</a></p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>Use a <a href="/benefits-calculators">benefits calculator</a> to check if you can get <abbr title="Jobseeker's Allowance">JSA</abbr>.</p>
            </div>
            <h2>Claim with your partner (joint claim)</h2>
            <p>You must make a joint claim with your partner if all the following apply:</p>
            <ul>
              <li>you both want to claim <abbr title="Jobseeker's Allowance">JSA</abbr> </li>
              <li>at least one of you is 18 or over</li>
              <li>you’re both under <a href="/state-pension-age">State Pension age</a> </li>
              <li>neither of you are responsible for a child</li>
            </ul>
            <p><a href="/contact-jobcentre-plus">Contact Jobcentre Plus</a> if you’re not sure about making a joint claim.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>If you live in Northern Ireland, contact your local <a rel="external" href="http://www.nidirect.gov.uk/index/contacts/contacts-az/social-security-jobs-and-benefits-offices.htm">Social Security or Jobs and Benefits Office</a>.</p>
            </div>
            <h2>18 to 19 year olds</h2>
            <p>You can’t usually get <abbr title="Jobseeker's Allowance">JSA</abbr> if your parents receive Child Benefit for you.</p>
            <p>If you’ve just left education, you won’t be able to get <abbr title="Jobseeker's Allowance">JSA</abbr> until your parents stop getting Child Benefit for you. You may be able to get <a href="/income-support/eligibility">Income Support</a> instead.</p>
            <h2>Full-time students</h2>
            <p>Full-time students can’t usually get <abbr title="Jobseeker's Allowance">JSA</abbr> until their course has officially finished - check the date with your college or university.</p>
            <p>If you have children, you may be able to claim <abbr title="Jobseeker's Allowance">JSA</abbr> during the summer holiday.</p>
            <h2>Part-time students</h2>
            <p>You can get <abbr title="Jobseeker's Allowance">JSA</abbr> while studying part time (including part-time Open University Courses) as long as:</p>
            <ul>
              <li>you take a job if it’s offered to you</li>
              <li>you do everything you can to look for work, as agreed with your work coach</li>
            </ul>
            <p>If you want to take a short course (2 weeks or less), check with your work coach before you start.</p>
            <h2>New or recently returned to the UK</h2>
            <p>You may be able to get <abbr title="Jobseeker's Allowance">JSA</abbr> if you can prove you’ve been living in the UK, the Isle of Man, the Republic of Ireland or the Channel Islands for at least 3 months before you claim, and you’re either:</p>
            <ul>
              <li>a UK national who’s recently returned from abroad and you haven’t worked since coming back</li>
              <li>an <a rel="external" href="http://www.dwp.gov.uk/international/social-security-agreements/list-of-countries"><abbr title="European Economic Area">EEA</abbr> national</a> </li>
            </ul>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/jobseekers-allowance/overview"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">How it works</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/jobseekers-allowance/how-to-claim"> <span class="pagination-label">Next</span> <span class="pagination-part-title">How to claim or reclaim</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/jobseekers-allowance/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 11 June 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/benefits.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
