{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Jobseeker's Allowance (JSA) - GOV.UK
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <ol class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/browse/benefits">Benefits</a></li>
    <li><strong><a href="/browse/benefits/entitlement">Benefits entitlement</a></strong></li>
  </ol>
</div>

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Jobseeker's Allowance (JSA)</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: How it works" href="/jobseekers-allowance/overview">How it works</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/jobseekers-allowance/eligibility">Eligibility</a> </li>
                  </ol>
                  <ol start="3">
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim or reclaim" href="/jobseekers-allowance/how-to-claim">How to claim or reclaim</a> </li>
                    <li class="active"> <span class="part-number">4.</span> <span>Your JSA claim</span> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>4. Your JSA claim</h1> </header>
            <p>After you claim <abbr title="Jobseeker's Allowance">JSA</abbr>, a work coach will help you make a plan to find a job.</p>
            <p>This will help you:</p>
            <ul>
              <li>keep a record of what happened</li>
              <li>prove to your work coach that you’ve been looking for work</li>
            </ul>
            <p>Your work coach may tell you to take part in an employment programme, like the <a href="/moving-from-benefits-to-work/job-search-programmes">Work Programme</a>.</p>
            <h2>Reporting to a Jobcentre Plus office</h2>
            <p>You must go to a Jobcentre Plus office every 2 weeks (or when asked) to show how you’ve been looking for a job. This is known as ‘signing on’.</p>
            <p>You must show your work coach what you’ve been doing to look for work, eg proof of job applications and interviews.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>If you’re a victim of domestic abuse you might be able to get a break of up to 13 weeks from job seeking - speak to your work coach if you need this support.</p>
            </div>
            <h2>If your circumstances change</h2>
            <p>You must <a href="/contact-jobcentre-plus">tell Jobcentre Plus</a> if your circumstances change, eg you start working or your income changes. This might affect how much you get.</p>
            <p>Volunteering won’t normally affect your <abbr title="Jobseeker's Allowance">JSA</abbr> but you should report it before you start.</p>
            <div role="note" aria-label="Help" class="application-notice help-notice">
              <p>You might be committing <a href="/benefit-fraud">benefit fraud</a> if you choose not to report a change.</p>
            </div>
            <h2>When payment can be stopped</h2>
            <p>Your <abbr title="Jobseeker's Allowance">JSA</abbr> payments will be stopped for a period if you don’t do something your work coach or the <a href="/moving-from-benefits-to-work/job-search-programmes">Work Programme</a> asks you to do. This
              is called being ‘sanctioned’. For example, if you:</p>
            <ul>
              <li>don’t accept or keep to your <a href="/jobseekers-allowance/how-to-claim">agreement to look for work</a> </li>
              <li>don’t go to a Jobcentre Plus office when asked</li>
              <li>turn down a job or training course</li>
              <li>don’t apply for any jobs you’re told about</li>
              <li>don’t take part in any interviews you’re invited to</li>
              <li>don’t go to any training booked for you or take part in employment schemes</li>
              <li>leave your last job or training without good reason or because of your behaviour</li>
            </ul>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p><a href="/contact-jobcentre-plus">Contact Jobcentre Plus</a> as soon as possible if any of these apply to you. You may be able to keep your payment if you have good reason.</p>
            </div>
            <p>You’ll be told how long your payment will be stopped for. It could be between 4 weeks and 156 weeks (about 3 years).</p>
            <p>Find out more about <a href="/government/publications/jobseekers-allowance-sanctions-leaflet/jobseekers-allowance-sanctions-how-to-keep-your-benefit-payment#how-long-could-my-benefit-payment-be-stopped-if-i-dont-have-good-reason">how long your <abbr title="Jobseeker's Allowance">JSA</abbr> payment could be stopped for</a>.</p>
            <h2>If your <abbr title="Jobseeker's Allowance">JSA</abbr> payment is stopped</h2>
            <p>If your payment is stopped, you should keep looking for work. Your benefit payment could be stopped for longer if you don’t.</p>
            <p>You can ask Jobcentre Plus to reconsider the decision to stop payment. If they do not change their decision, you can <a href="/social-security-child-support-tribunal">appeal to the Social Security and Child Support Tribunal</a>.</p>
            <p>You should continue with any <abbr title="Jobseeker's Allowance">JSA</abbr> claim until the dispute is settled.</p>
            <h3>If you claim Housing Benefit or Council Tax Reduction</h3>
            <p>You should <a href="/find-your-local-council">contact your local council</a> immediately. They’ll tell you what to do to continue getting support.</p>
            <h2>If your claim is ended</h2>
            <p>Your <abbr title="Jobseeker's Allowance">JSA</abbr> claim may be ended if you aren’t available for or actively seeking work. You can apply again straight away, but your payments will be stopped for a period of either:</p>
            <ul>
              <li>4 weeks if it’s the first time your claim has been ended</li>
              <li>13 weeks if a previous claim has been ended within the past year</li>
            </ul>
            <h2>Hardship payments</h2>
            <p>You may be able to get a hardship payment if your <abbr title="Jobseeker's Allowance">JSA</abbr> payments have been stopped. You don’t have to pay it back.</p>
            <p>A hardship payment is a reduced amount (usually 60%) of your <abbr title="Jobseeker's Allowance">JSA</abbr>.</p>
            <h3>Eligibility</h3>
            <p>You can get a hardship payment if you can’t pay for rent, heating, food or other basic needs for you or your child.</p>
            <p>You must be 18 or over.</p>
            <p>You’ll have to show that you’ve tried to find the money from somewhere else, eg borrowing from a friend or working extra hours.</p>
            <h3>How to claim</h3>
            <p>Speak to your Jobcentre Plus adviser or work coach to find out how to claim a hardship payment.</p>
            <div class="contact">
              <p><strong>Jobcentre Plus</strong>
                <br> Telephone: 0345 608 8545
                <br> Textphone: 0345 608 8551
                <br> Welsh language: 0345 600 3018
                <br> Monday to Friday, 8am to 6pm
                <br> <a href="/call-charges">Find out about call charges</a></p>
            </div>
            <h2>If you find a job</h2>
            <p><a href="/contact-jobcentre-plus">Contact Jobcentre Plus</a> to end your <abbr title="Jobseeker's Allowance">JSA</abbr> claim if you find a job.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/jobseekers-allowance/how-to-claim"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">How to claim or reclaim</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/jobseekers-allowance/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 11 June 2016</p>
        </div>
      </div>
    </main>
    <!-- related -->
    <div class="related-container">
      <aside class="related" id="related">
        <div class="inner group related-subsection">
          <h2 id="parent-subsection">Benefits entitlement</h2>
          <nav role="navigation" aria-labelledby="parent-subsection">
            <ul>
              <li> <a href="/benefits-calculators">Benefits calculators</a> </li>
              <li> <a href="/employment-support-allowance">Employment and Support Allowance (ESA)</a> </li>
              <li> <a href="/how-to-have-your-benefits-paid">How and when your benefits are paid</a> </li>
              <li> <a href="/universal-credit">Universal Credit</a> </li>
              <li class="related-topic"><a href="/browse/benefits/entitlement">More <span class="visuallyhidden">in Benefits entitlement</span></a></li>
            </ul>
          </nav>
        </div>
        <div class="inner group related-other">
          <h2 id="parent-other">Elsewhere on GOV.UK</h2>
          <nav role="navigation" aria-labelledby="parent-other">
            <ul>
              <li> <a href="/jobsearch">Find a job with Universal Jobmatch</a> </li>
              <li> <a href="/contact-jobcentre-plus">Contact Jobcentre Plus</a> </li>
            </ul>
          </nav>
        </div>
        <div class="inner group"> <a class="return-to-top" href="#content">Return to top ↑</a> </div>
      </aside>
    </div>
    <!-- end related -->
  </div>
  <div class="report-a-problem-toggle-wrapper js-footer">
    <p class="report-a-problem-toggle"> <a href="" class="js-report-a-problem-toggle">Is there anything wrong with this page?</a> </p>
  </div>
  <div class="report-a-problem-container">
    <div class="report-a-problem-inner">
      <div class="report-a-problem-content">
        <h2>Help us improve GOV.UK</h2>
        <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
          </div>
          <input id="url" name="url" type="hidden" value="https://www.gov.uk/jobseekers-allowance/further-information">
          <input id="source" name="source" type="hidden" value="">
          <input id="page_owner" name="page_owner" type="hidden" value="">
          <p>Don’t include personal or financial information, eg your National Insurance number or credit card details.</p>
          <label for="what_doing">What you were doing</label>
          <input id="what_doing" name="what_doing" type="text">
          <label for="what_wrong">What went wrong</label>
          <input id="what_wrong" name="what_wrong" type="text">
          <div class="button-wrapper">
            <button name="commit" type="submit" class="button">Send</button>
          </div>
          <input type="hidden" name="javascript_enabled" value="true">
          <input type="hidden" name="referrer" value="https://www.gov.uk/jobseekers-allowance/how-to-claim">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
