{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Jobseeker's Allowance (JSA) - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/benefits.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Jobseeker's Allowance (JSA)</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: How it works" href="/jobseekers-allowance/overview">How it works</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/jobseekers-allowance/eligibility">Eligibility</a> </li>
                  </ol>
                  <ol start="3">
                    <li class="active"> <span class="part-number">3.</span> <span>How to claim or reclaim</span> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: Your JSA claim" href="/jobseekers-allowance/further-information">Your JSA claim</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>3. How to claim or reclaim</h1> </header>
            <p>Check you’re <a href="/jobseekers-allowance/eligibility">eligible</a> before you apply.</p>
            <h2>Apply online</h2>
            <p>You can <a rel="external" href="#">claim Jobseeker’s Allowance (<abbr title="Jobseeker's Allowance">JSA</abbr>) online.</a></p>
            <p>You’ll get a text or phone call within 2 working days to arrange a <abbr title="Jobseeker's Allowance">JSA</abbr> interview at your local Jobcentre Plus office.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>You won’t get <abbr title="Jobseeker's Allowance">JSA</abbr> if you don’t go to the interview.</p>
            </div>
            <h2>Speak to an adviser</h2>
            <p>You can <a href="#" class="js-trigger-livechat">chat with an adviser online</a>.</p>
            <p>This is available between Monday to Saturday, 8am to 10pm.</p>
            <h2>Your <abbr title="Jobseeker's Allowance">JSA</abbr> interview</h2>
            <p>Jobcentre Plus will contact you to arrange your interview after you’ve applied.</p>
            <p>You must bring both:</p>
            <ul>
              <li>2 forms of identification, eg passport, driving licence</li>
              <li>your <a href="#">P45</a> (if you have one)</li>
            </ul>
            <p>You don’t need to wait for your P45 before making a claim.</p>
            <p>You may need to bring in other documents based on the information you provide so that Jobcentre Plus can make a decision on your claim.</p>
            <p>You can take someone with you to your <abbr title="Jobseeker's Allowance">JSA</abbr> interview.</p>
            <h2>Sign an agreement to look for work (‘Claimant Commitment’)</h2>
            <p>At your <abbr title="Jobseeker's Allowance">JSA</abbr> interview you must sign an agreement about what steps you’ll take to look for a job. This is called a ‘Claimant Commitment’.</p>
            <p>You and your work coach will agree what goes in your Claimant Commitment. This could include:</p>
            <ul>
              <li>what you need to do to look for work, eg registering with recruitment agencies, writing a CV</li>
              <li>how many hours you need to spend looking for work each week</li>
            </ul>
            <p>What you agree to do will depend on things like:</p>
            <ul>
              <li>your health</li>
              <li>your responsibilities at home</li>
              <li>how much help you need to get work or increase your income</li>
            </ul>
            <div role="note" aria-label="Help" class="application-notice help-notice">
              <p><a href="/jobseekers-allowance/further-information">Your <abbr title="Jobseeker's Allowance">JSA</abbr> might be stopped</a> if you don’t do what you’ve agreed to in your Claimant Commitment and you can’t give a good reason.</p>
            </div>
            <h2>Appeal a decision</h2>
            <p>You can <a href="#">appeal to the Social Security and Child Support Tribunal</a> if you disagree with a decision.</p>
            <h2>Make a complaint</h2>
            <p>You can <a href="#">complain about Jobcentre Plus</a> if you’re unhappy with the service you’ve received.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/jobseekers-allowance/eligibility"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">Eligibility</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/jobseekers-allowance/further-information"> <span class="pagination-label">Next</span> <span class="pagination-part-title">Your JSA claim</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/jobseekers-allowance/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 11 June 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/benefits.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
