{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Jobseeker's Allowance (JSA) - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs-benefits.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Jobseeker's Allowance (JSA)</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: How it works" href="/jobseekers-allowance/overview">How it works</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/jobseekers-allowance/eligibility">Eligibility</a> </li>
                  </ol>
                  <ol start="3">
                    <li class="active"> <span class="part-number">3.</span> <span>How to claim or reclaim</span> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: Your JSA claim" href="/jobseekers-allowance/further-information">Your JSA claim</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>3. How to claim or reclaim</h1> </header>
            <p>Check you’re <a href="/jobseekers-allowance/eligibility">eligible</a> before you apply.</p>
            <h2>Apply online</h2>
            <p>You can <a rel="external" href="https://www.dwpe-services.direct.gov.uk/en/jobseekersallowanceclaim">claim Jobseeker’s Allowance (<abbr title="Jobseeker's Allowance">JSA</abbr>) online.</a></p>
            <p>You’ll get a text or phone call within 2 working days to arrange a <abbr title="Jobseeker's Allowance">JSA</abbr> interview at your local Jobcentre Plus office.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>You won’t get <abbr title="Jobseeker's Allowance">JSA</abbr> if you don’t go to the interview.</p>
            </div>
            <h2>Reclaim <abbr title="Jobseeker's Allowance">JSA</abbr> (‘rapid reclaim’)</h2>
            <p>You can <a rel="external" href="https://www.dwpe-services.direct.gov.uk/en/jobseekersallowanceclaim">make a quicker claim for <abbr title="Jobseeker's Allowance">JSA</abbr> online</a> if you’ve had <abbr title="Jobseeker's Allowance">JSA</abbr>              in the last 26 weeks.</p>
            <p>You will have to start the application again. It should take about 20 minutes.</p>
            <p>You still have to attend an interview at a Jobcentre Plus office to get <abbr title="Jobseeker's Allowance">JSA</abbr>.</p>
            <h2>If you can’t apply online</h2>
            <p><a href="/contact-jobcentre-plus">Contact Jobcentre Plus</a> if you can’t apply online.</p>
            <h2>Your <abbr title="Jobseeker's Allowance">JSA</abbr> interview</h2>
            <p>Jobcentre Plus will contact you to arrange your interview after you’ve applied.</p>
            <p>You must bring both:</p>
            <ul>
              <li>2 forms of identification, eg passport, driving licence</li>
              <li>your <a href="/paye-forms-p45-p60-p11d/p45">P45</a> (if you have one)</li>
            </ul>
            <p>You don’t need to wait for your P45 before making a claim.</p>
            <p>You may need to bring in other documents based on the information you provide so that Jobcentre Plus can make a decision on your claim.</p>
            <p>You can take someone with you to your <abbr title="Jobseeker's Allowance">JSA</abbr> interview.</p>
            <h2>Sign an agreement to look for work (‘Claimant Commitment’)</h2>
            <p>At your <abbr title="Jobseeker's Allowance">JSA</abbr> interview you must sign an agreement about what steps you’ll take to look for a job. This is called a ‘Claimant Commitment’.</p>
            <p>You and your work coach will agree what goes in your Claimant Commitment. This could include:</p>
            <ul>
              <li>what you need to do to look for work, eg registering with recruitment agencies, writing a CV</li>
              <li>how many hours you need to spend looking for work each week</li>
            </ul>
            <p>What you agree to do will depend on things like:</p>
            <ul>
              <li>your health</li>
              <li>your responsibilities at home</li>
              <li>how much help you need to get work or increase your income</li>
            </ul>
            <div role="note" aria-label="Help" class="application-notice help-notice">
              <p><a href="/jobseekers-allowance/further-information">Your <abbr title="Jobseeker's Allowance">JSA</abbr> might be stopped</a> if you don’t do what you’ve agreed to in your Claimant Commitment and you can’t give a good reason.</p>
            </div>
            <h2>Appeal a decision</h2>
            <p>You can <a href="/social-security-child-support-tribunal">appeal to the Social Security and Child Support Tribunal</a> if you disagree with a decision.</p>
            <h2>Make a complaint</h2>
            <p>You can <a href="/complain-jobcentre-plus">complain about Jobcentre Plus</a> if you’re unhappy with the service you’ve received.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/jobseekers-allowance/eligibility"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">Eligibility</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/jobseekers-allowance/further-information"> <span class="pagination-label">Next</span> <span class="pagination-part-title">Your JSA claim</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/jobseekers-allowance/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 11 June 2016</p>
        </div>
      </div>
    </main>
    <!-- related -->
    <div class="related-container">
      <aside class="related" id="related">
        <div class="inner group related-subsection">
          <h2 id="parent-subsection">Benefits entitlement</h2>
          <nav role="navigation" aria-labelledby="parent-subsection">
            <ul>
              <li> <a href="/benefits-calculators">Benefits calculators</a> </li>
              <li> <a href="/employment-support-allowance">Employment and Support Allowance (ESA)</a> </li>
              <li> <a href="/how-to-have-your-benefits-paid">How and when your benefits are paid</a> </li>
              <li> <a href="/universal-credit">Universal Credit</a> </li>
              <li class="related-topic"><a href="/browse/benefits/entitlement">More <span class="visuallyhidden">in Benefits entitlement</span></a></li>
            </ul>
          </nav>
        </div>
        <div class="inner group related-other">
          <h2 id="parent-other">Elsewhere on GOV.UK</h2>
          <nav role="navigation" aria-labelledby="parent-other">
            <ul>
              <li> <a href="/jobsearch">Find a job with Universal Jobmatch</a> </li>
              <li> <a href="/contact-jobcentre-plus">Contact Jobcentre Plus</a> </li>
            </ul>
          </nav>
        </div>
        <div class="inner group"> <a class="return-to-top" href="#content">Return to top ↑</a> </div>
      </aside>
    </div>
    <!-- end related -->
  </div>
  <div class="report-a-problem-toggle-wrapper js-footer">
    <p class="report-a-problem-toggle"> <a href="" class="js-report-a-problem-toggle">Is there anything wrong with this page?</a> </p>
  </div>
  <div class="report-a-problem-container">
    <div class="report-a-problem-inner">
      <div class="report-a-problem-content">
        <h2>Help us improve GOV.UK</h2>
        <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
          </div>
          <input id="url" name="url" type="hidden" value="https://www.gov.uk/jobseekers-allowance/how-to-claim">
          <input id="source" name="source" type="hidden" value="">
          <input id="page_owner" name="page_owner" type="hidden" value="">
          <p>Don’t include personal or financial information, eg your National Insurance number or credit card details.</p>
          <label for="what_doing">What you were doing</label>
          <input id="what_doing" name="what_doing" type="text">
          <label for="what_wrong">What went wrong</label>
          <input id="what_wrong" name="what_wrong" type="text">
          <div class="button-wrapper">
            <button name="commit" type="submit" class="button">Send</button>
          </div>
          <input type="hidden" name="javascript_enabled" value="true">
          <input type="hidden" name="referrer" value="https://www.gov.uk/jobseekers-allowance/eligibility">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
