{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Jobseeker's Allowance (JSA) - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/benefits.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Jobseeker's Allowance (JSA)</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li class="active"> <span class="part-number">1.</span> <span>How it works</span> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/jobseekers-allowance/eligibility">Eligibility</a> </li>
                  </ol>
                  <ol start="3">
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim or reclaim" href="/jobseekers-allowance/how-to-claim">How to claim or reclaim</a> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: Your JSA claim" href="/jobseekers-allowance/further-information">Your JSA claim</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>1. How it works</h1> </header>
            <p>You can apply for Jobseeker’s Allowance (<abbr title="Jobseeker's Allowance">JSA</abbr>) to help you when you look for work.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>This page is also available in Welsh (<a href="/lwfans-ceisio-gwaith">Cymraeg</a>).</p>
            </div>
            <h2>What you need to do</h2>
            <ol class="steps">
              <li>
                <p>Check you’re <a href="/jobseekers-allowance/eligibility">eligible</a>.</p>
              </li>
              <li>
                <p><a href="/jobseekers-allowance/how-to-claim">Make a claim</a> and go to an interview at your local Jobcentre Plus office.</p>
              </li>
              <li>
                <p>Keep to your <a href="/jobseekers-allowance/how-to-claim">agreement to look for work</a>.</p>
              </li>
            </ol>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p><a href="/jobseekers-allowance/further-information">Your <abbr title="Jobseeker's Allowance">JSA</abbr> payments will be stopped</a> if you don’t keep to your agreement to look for work and can’t give a good reason.</p>
            </div>
            <h2>What you’ll get</h2>
            <p>There’s a maximum amount you can get - but how much you’re entitled to depends on things like your age, income and savings.</p>
            <p>Use a <a href="/benefits-calculators">benefits calculator</a> to check how much <abbr title="Jobseeker's Allowance">JSA</abbr> you can get, and how your other benefits will be affected.</p>
            <table>
              <thead>
                <tr>
                  <th>Age</th>
                  <th> <abbr title="Jobseeker's Allowance">JSA</abbr> weekly amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>18 to 24</td>
                  <td>up to £57.90</td>
                </tr>
                <tr>
                  <td>25 or over</td>
                  <td>up to £73.10</td>
                </tr>
                <tr>
                  <td>Couples (both aged over 18)</td>
                  <td>up to £114.85</td>
                </tr>
              </tbody>
            </table>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>You can’t get income-based <abbr title="Jobseeker's Allowance">JSA</abbr> and <a href="/universal-credit">Universal Credit</a> at the same time.</p>
            </div>
            <h2>How you’re paid</h2>
            <p>Payments are usually made every 2 weeks.</p>
            <p>All benefits, pensions and allowances are <a href="/how-to-have-your-benefits-paid">paid into an account</a>, eg a bank account.</p>
            <h2>What type of <abbr title="Jobseeker's Allowance">JSA</abbr> you get</h2>
            <p>You can get <abbr title="Jobseeker's Allowance">JSA</abbr> based on either:</p>
            <ul>
              <li>your <a href="/national-insurance/national-insurance-classes">Class 1 National Insurance contributions</a> (‘contribution-based <abbr title="Jobseeker's Allowance">JSA</abbr>’)</li>
              <li>your income and savings (‘income-based <abbr title="Jobseeker's Allowance">JSA</abbr>’)</li>
            </ul>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>Jobcentre Plus will work out which type you can get.</p>
            </div>
            <h3>Contribution-based <abbr title="Jobseeker's Allowance">JSA</abbr></h3>
            <p>You may get contribution-based <abbr title="Jobseeker's Allowance">JSA</abbr> if you’ve paid enough Class 1 National Insurance contributions in the 2 tax years before the current benefit year.</p>
            <p><a href="/national-insurance-credits">National Insurance Credits</a> can count for part of this, if you get them.</p>
            <p>A benefit year starts on the first Sunday in January and ends a year later.</p>
            <div class="example">
              <p>You make a claim on 20 February 2016. This falls in the 2016 benefit year. This means your entitlement will be based on your National Insurance record for the 2013-2014 and 2014-2015 tax years.</p>
            </div>
            <p>You can get contribution-based <abbr title="Jobseeker's Allowance">JSA</abbr> even if your partner works or you have savings.</p>
            <h3>Income-based <abbr title="Jobseeker's Allowance">JSA</abbr></h3>
            <p>You may get income-based <abbr title="Jobseeker's Allowance">JSA</abbr> if all of the following apply:</p>
            <ul>
              <li>you work less than 16 hours per week on average</li>
              <li>your partner (if you have one) works less than 24 hours per week on average</li>
              <li>you have £16,000 or less in savings</li>
            </ul>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/jobseekers-allowance/eligibility"> <span class="pagination-label">Next</span> <span class="pagination-part-title">Eligibility</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/jobseekers-allowance/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 11 June 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/benefits.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
