{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Universal Credit - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs-benefits.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Universal Credit</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/universal-credit/overview">Overview</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: What you'll get" href="/universal-credit/what-youll-get">What you'll get</a> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim" href="/universal-credit/how-to-claim">How to claim</a> </li>
                    <li class="active"> <span class="part-number">4.</span> <span>You're claiming other benefits </span> </li>
                  </ol>
                  <ol start="5">
                    <li> <span class="part-number">5.</span> <a title="Part 5: If your payment is stopped or reduced" href="/universal-credit/if-your-payment-is-stopped-or-reduced">If your payment is stopped or reduced</a> </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Change of circumstances" href="/universal-credit/change-in-circumstances">Change of circumstances</a> </li>
                    <li> <span class="part-number">7.</span> <a title="Part 7: Appeal a decision" href="/universal-credit/appeal-decision">Appeal a decision</a> </li>
                    <li> <span class="part-number">8.</span> <a title="Part 8: Getting help" href="/universal-credit/getting-help">Getting help</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>4. You're claiming other benefits </h1> </header>
            <p>Universal Credit will replace the following:</p>
            <ul>
              <li>Jobseeker’s Allowance</li>
              <li>Housing Benefit</li>
              <li>Working Tax Credit</li>
              <li>Child Tax Credit</li>
              <li>Employment and Support Allowance</li>
              <li>Income Support</li>
            </ul>
            <p>Apply for any other <a href="/browse/benefits">benefits you’re eligible for</a> as usual.</p>
            <p>Once you’ve claimed Universal Credit, any benefits that it replaces will stop and you’ll start getting Universal Credit instead.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>Your benefits may end before your Universal Credit starts.</p>
            </div>
            <p>You may be able to get an advance on your first Universal Credit payment if:</p>
            <ul>
              <li>you’ve recently been receiving another benefit</li>
              <li>you’re in urgent financial need</li>
            </ul>
            <p>Check with your work coach if this applies to you.</p>
            <h2>Housing Benefit and paying your rent</h2>
            <p>Universal Credit may include money towards your housing costs. You’ll have to arrange with your landlord to start paying your own rent, if you don’t do this already.</p>
            <p>Find out details of your rent from your landlord, for example:</p>
            <ul>
              <li>how much the rent is and how you need to pay it</li>
              <li>if you need to pay any service charges or bills, eg gas and electricity</li>
            </ul>
            <p>If you think you’ll have problems managing your rent, talk to your landlord or work coach.</p>
            <h2>Tax credits</h2>
            <p>You’ll be told by HM Revenue and Customs (HMRC) that your tax credits will stop. You then need to <a href="/end-tax-credits-claim">end your claim</a>.</p>
            <p>If you have any tax credits overpayments, you still need to <a href="/tax-credits-overpayments/universal-credit">pay them back</a>.</p>
            <h2>If you move in with someone on Universal Credit</h2>
            <p>You’ll have to end your benefits claims.</p>
            <p>Your partner’s Universal Credit will become a joint claim and you’ll both have to sign new Claimant Commitments.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/universal-credit/how-to-claim"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">How to claim</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/universal-credit/if-your-payment-is-stopped-or-reduced"> <span class="pagination-label">Next</span> <span class="pagination-part-title">If your payment is stopped or reduced</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/universal-credit/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 11 May 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
