{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Universal Credit - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs-benefits.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>Universal Credit</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/universal-credit/overview">Overview</a> </li>
                    <li class="active"> <span class="part-number">2.</span> <span>What you'll get</span> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim" href="/universal-credit/how-to-claim">How to claim</a> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: You're claiming other benefits " href="/universal-credit/claiming-other-benefits">You're claiming other benefits </a> </li>
                  </ol>
                  <ol start="5">
                    <li> <span class="part-number">5.</span> <a title="Part 5: If your payment is stopped or reduced" href="/universal-credit/if-your-payment-is-stopped-or-reduced">If your payment is stopped or reduced</a> </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Change of circumstances" href="/universal-credit/change-in-circumstances">Change of circumstances</a> </li>
                    <li> <span class="part-number">7.</span> <a title="Part 7: Appeal a decision" href="/universal-credit/appeal-decision">Appeal a decision</a> </li>
                    <li> <span class="part-number">8.</span> <a title="Part 8: Getting help" href="/universal-credit/getting-help">Getting help</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>2. What you'll get</h1> </header>
            <p>The amount of Universal Credit you’ll get depends on your circumstances and your income.</p>
            <p>It can include support:</p>
            <ul>
              <li>for housing</li>
              <li>for children and childcare</li>
              <li>if you’re disabled or have a health condition</li>
              <li>if you care for somebody with a disability</li>
            </ul>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>You must pay your rent directly to your landlord if you get Universal Credit to help you with housing.</p>
            </div>
            <h2>Work while you claim Universal Credit</h2>
            <p>There are no limits to the number of hours you can work a week if you get Universal Credit.</p>
            <p>Your payment will reduce gradually as you earn more. You won’t lose all your benefits at once if you’re on a low income.</p>
            <h2>How you’ll be paid</h2>
            <p>Universal Credit is paid differently from current benefits. It’ll be paid once a month, usually into your <a href="/how-to-have-your-benefits-paid">bank, building society or credit union account</a>.</p>
            <p>If you live with your partner and you both claim Universal Credit you’ll receive a single payment that covers you both.</p>
            <p>You’ll get a letter and your first payment around 6 weeks after you’ve finished applying for Universal Credit.</p>
            <p>Your letter will tell you:</p>
            <ul>
              <li>when you’ll normally get paid</li>
              <li>how much you’ll be paid</li>
              <li>which bank account it’ll be paid into</li>
            </ul>
            <h3>Waiting period</h3>
            <p>There is a waiting period of 7 days from submitting your claim before your Universal Credit will start.</p>
            <p>This may apply if you’re out of work and claim Universal Credit, unless you:</p>
            <ul>
              <li>were claiming Universal Credit as a couple and are now claiming by yourself</li>
              <li>were claiming Universal Credit by yourself and are now claiming as a couple</li>
              <li>claimed Universal Credit within the last 6 months but left because you earned too much to continue claiming</li>
              <li>are terminally ill</li>
              <li>have been the victim of domestic violence within the last 6 months</li>
              <li>are a carer</li>
              <li>are 16 or 17 years old and have no parental support</li>
              <li>have left prison in the last month</li>
              <li>were entitled to contribution based Jobseekers Allowance (JSA) or Employment and Support Allowance (ESA) within the last 3 months</li>
              <li>were entitled to income related JSA, ESA or Income Support within the last 3 months and stopped claiming to start working</li>
              <li>were entitled to income related JSA, ESA or Income Support within the last month</li>
              <li>were entitled to Working Tax Credit, Child Tax Credit or Housing Benefit within the last month</li>
            </ul>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>Contact the <a rel="external" href="https://www.moneyadviceservice.org.uk/en/categories/universal-credit?utm_source=gov.uk&amp;utm_medium=referral&amp;utm_campaign=universal-credit">Money Advice Service</a> to get help budgeting and planning
                for Universal Credit.</p>
            </div>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/universal-credit/overview"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">Overview</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/universal-credit/how-to-claim"> <span class="pagination-label">Next</span> <span class="pagination-part-title">How to claim</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/universal-credit/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 11 May 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
