{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  The new State Pension - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/pensions.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>The new State Pension</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/new-state-pension/overview">Overview</a> </li>
                    <li class="active"> <span class="part-number">2.</span> <span>Eligibility</span> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim" href="/new-state-pension/how-to-claim">How to claim</a> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: How it's calculated" href="/new-state-pension/how-its-calculated">How it's calculated</a> </li>
                  </ol>
                  <ol start="5">
                    <li> <span class="part-number">5.</span> <a title="Part 5: You've been in a workplace, personal or stakeholder pension" href="/new-state-pension/youve-been-in-a-workplace-personal-or-stakeholder-pension">You've been in a workplace, personal or stakeholder pension</a>                      </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Your National Insurance record and your State Pension" href="/new-state-pension/your-national-insurance-record-and-your-state-pension">Your National Insurance record and your State Pension</a>                      </li>
                    <li> <span class="part-number">7.</span> <a title="Part 7: Inheriting or increasing State Pension from a spouse or civil partner" href="/new-state-pension/inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner">Inheriting or increasing State Pension from a spouse or civil partner</a>                      </li>
                    <li> <span class="part-number">8.</span> <a title="Part 8: Living and working overseas" href="/new-state-pension/living-and-working-overseas">Living and working overseas</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>2. Eligibility</h1> </header>
            <p>You’ll be able to claim the new State Pension if you’re:</p>
            <ul>
              <li>a man born on or after 6 April 1951</li>
              <li>a woman born on or after 6 April 1953</li>
            </ul>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>The earliest you can get the new State Pension is when you reach <a href="#">State Pension age</a>.</p>
            </div>
            <p>You’ll usually need at least 10 qualifying years on your <a href="/new-state-pension/your-national-insurance-record-and-your-state-pension">National Insurance record</a> to get any State Pension. They don’t have to be 10 qualifying years in
              a row.</p>
            <p>This means for 10 years at least one or more of the following applied to you:</p>
            <ul>
              <li>you were working and paid <a href="/new-state-pension/your-national-insurance-record-and-your-state-pension">National Insurance contributions</a> </li>
              <li>you were <a href="#">getting National Insurance credits</a>, eg for unemployment, sickness or as a parent or carer</li>
              <li>you were paying <a href="#">voluntary National Insurance contributions</a> </li>
            </ul>
            <p>If you’ve <a href="/new-state-pension/living-and-working-overseas">lived or worked abroad</a> you might still be able to get some new State Pension.</p>
            <p>You might also qualify if you’ve paid <a href="#">married women’s or widow’s reduced rate contributions</a>.</p>
            <h2>Defer your new State Pension</h2>
            <p>You don’t have to claim the new State Pension as soon as you reach <a href="#">State Pension age</a>.</p>
            <p>Deferring the new State Pension means that you might get extra State Pension when you do claim it. The extra amount is paid with your State Pension (eg every 4 weeks) and <a href="#">may be taxable</a>.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>Deferring your State Pension could affect your other <a href="#">benefits and tax credits</a>.</p>
            </div>
            <h3>How much you’ll get</h3>
            <p>You’ll need to defer for at least 9 weeks - your State Pension will increase by 1% for every 9 weeks you put off claiming. This works out at just under 5.8% for every full year you put off claiming.</p>
            <div class="example">
              <p><strong>Example</strong> You get less than the full State Pension, eg £120 per week.</p>
              <p>That means your State Pension will be £6,240 a year.</p>
              <p>By deferring for a year, you’ll get an extra £360 (just under 5.8% of £6,240).</p>
            </div>
            <p>After you claim, the extra amount you get because you deferred will usually increase each year.</p>
            <h3>If you move abroad</h3>
            <p>The rules for deferring are the same if you live in:</p>
            <ul>
              <li>the <a href="#">EU and EEA</a> </li>
              <li>Gibraltar or Switzerland</li>
              <li><a href="#">a country that the UK has a social security agreement with</a></li>
            </ul>
            <p>There are different rules if you live in another country. The extra amount you get for deferring is calculated by taking your State Pension rate at the later of:</p>
            <ul>
              <li>when you reach <a href="#">State Pension age</a> </li>
              <li>when you move abroad</li>
            </ul>
            <p>The extra amount also won’t increase after you claim.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/new-state-pension/overview"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">Overview</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/new-state-pension/how-to-claim"> <span class="pagination-label">Next</span> <span class="pagination-part-title">How to claim</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="#" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 15 April 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/pensions.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
