{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
  {% include "includes/implementations/intercom.html" %}
{% endblock %}

{% block page_title %}
  The new State Pension - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/pensions.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>The new State Pension</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/new-state-pension/overview">Overview</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/new-state-pension/eligibility">Eligibility</a> </li>
                    <li class="active"> <span class="part-number">3.</span> <span>How to claim</span> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: How it's calculated" href="/new-state-pension/how-its-calculated">How it's calculated</a> </li>
                  </ol>
                  <ol start="5">
                    <li> <span class="part-number">5.</span> <a title="Part 5: You've been in a workplace, personal or stakeholder pension" href="/new-state-pension/youve-been-in-a-workplace-personal-or-stakeholder-pension">You've been in a workplace, personal or stakeholder pension</a>                      </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Your National Insurance record and your State Pension" href="/new-state-pension/your-national-insurance-record-and-your-state-pension">Your National Insurance record and your State Pension</a>                      </li>
                    <li> <span class="part-number">7.</span> <a title="Part 7: Inheriting or increasing State Pension from a spouse or civil partner" href="/new-state-pension/inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner">Inheriting or increasing State Pension from a spouse or civil partner</a>                      </li>
                    <li> <span class="part-number">8.</span> <a title="Part 8: Living and working overseas" href="/new-state-pension/living-and-working-overseas">Living and working overseas</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>3. How to claim</h1> </header>
            <p>You won’t get your new State Pension automatically - you have to claim it. You should get a letter 4 months before your State Pension age, telling you what to do.</p>
            <p>If you haven’t got a letter 3 months before you reach State Pension age, phone the claim line. They’ll discuss with you what you need to do.</p>
            <p>There are 4 ways to claim:</p>
            <ul>
              <li><a href="#">online</a></li>
              <li><a href="#">over the phone</a></li>
              <li>by downloading the <a href="#">State Pension claim form</a> and sending it to your <a href="#">local pension centre</a> </li>
              <li> <a href="#">from abroad</a>, including the Channel Islands and the Isle of Man</li>
            </ul>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>How to claim is different if you <a rel="external" href="#">claim from Northern Ireland.</a></p>
            </div>
            <h2>If you want to keep working</h2>
            <p>You can claim your new State Pension even if you carry on working. However, you have the <a href="#">option to defer</a> which can increase the amount you get.</p>
            <h2>Claiming an Isle of Man pension</h2>
            <p>If you’re eligible for a state pension from the Isle of Man, you’ll need to claim it separately from your UK new State Pension.</p>
            <p>Find out <a rel="external" href="#">if you’re eligible and how to claim your Isle of Man pension.</a></p>
            <p>You’ll get one payment for your UK pension and a separate payment for your Isle of Man pension.</p>
            <p>You can’t defer an Isle of Man pension after 6 April 2016.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/new-state-pension/eligibility"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">Eligibility</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/new-state-pension/how-its-calculated"> <span class="pagination-label">Next</span> <span class="pagination-part-title">How it's calculated</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="#" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 15 April 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/pensions.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
