{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  The new State Pension - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/pensions.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>The new State Pension</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/new-state-pension/overview">Overview</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/new-state-pension/eligibility">Eligibility</a> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim" href="/new-state-pension/how-to-claim">How to claim</a> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: How it's calculated" href="/new-state-pension/how-its-calculated">How it's calculated</a> </li>
                  </ol>
                  <ol start="5">
                    <li> <span class="part-number">5.</span> <a title="Part 5: You've been in a workplace, personal or stakeholder pension" href="/new-state-pension/youve-been-in-a-workplace-personal-or-stakeholder-pension">You've been in a workplace, personal or stakeholder pension</a>                      </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Your National Insurance record and your State Pension" href="/new-state-pension/your-national-insurance-record-and-your-state-pension">Your National Insurance record and your State Pension</a>                      </li>
                    <li class="active"> <span class="part-number">7.</span> <span>Inheriting or increasing State Pension from a spouse or civil partner</span> </li>
                    <li> <span class="part-number">8.</span> <a title="Part 8: Living and working overseas" href="/new-state-pension/living-and-working-overseas">Living and working overseas</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>7. Inheriting or increasing State Pension from a spouse or civil partner</h1> </header>
            <p>You might be able to inherit an extra payment on top of your new State Pension if you’re widowed.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>You won’t be able to inherit anything if you remarry or form a new civil partnership before you reach State Pension age.</p>
            </div>
            <h2>Inheriting Additional State Pension</h2>
            <p>You might inherit part of your deceased partner’s <a href="#">Additional State Pension</a> if your marriage or civil partnership with them began before 6 April 2016 and one of the following applies:</p>
            <ul>
              <li>your partner reached State Pension age before 6 April 2016</li>
              <li>they died before 6 April 2016 but would have reached State Pension age on or after that date</li>
            </ul>
            <p>It will be paid with your State Pension.</p>
            <h2>Inheriting a protected payment</h2>
            <p>You’ll inherit half of your partner’s <a href="/new-state-pension/how-its-calculated">protected payment</a> if your marriage or civil partnership with them began before 6 April 2016 and:</p>
            <ul>
              <li>their State Pension age is on or after 6 April 2016</li>
              <li>they died on or after 6 April 2016</li>
            </ul>
            <p>It will be paid with your State Pension.</p>
            <h2>Inheriting extra State Pension or a lump sum</h2>
            <p>You may inherit part of or all of your partner’s extra State Pension or lump sum if:</p>
            <ul>
              <li>they died while they were deferring their State Pension (before claiming) or they had started claiming it <a href="#">after deferring</a> </li>
              <li>they reached State Pension age before 6 April 2016</li>
              <li>you were married or in the civil partnership when they died</li>
            </ul>
            <h2>Your partner’s National Insurance record and your State Pension</h2>
            <p>The new State Pension is based on your own National Insurance record.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>If you paid <a href="#">married women’s or widows’ reduced rate National Insurance</a>, you might be able to increase your new State Pension <a href="#">if you’re eligible</a>.</p>
            </div>
            <h2>If you get divorced or dissolve your civil partnership</h2>
            <p>The courts can make a ‘pension sharing order’ if you get divorced or dissolve your civil partnership.</p>
            <p>You’ll get an extra payment on top of your State Pension if your ex-partner is ordered to share their Additional State Pension or protected payment with you.</p>
            <p>Your State Pension will be reduced if you’re ordered to share your Additional State Pension or protected payment with your partner.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/new-state-pension/your-national-insurance-record-and-your-state-pension"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">Your National Insurance record and your State Pension</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/new-state-pension/living-and-working-overseas"> <span class="pagination-label">Next</span> <span class="pagination-part-title">Living and working overseas</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="#" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 15 April 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/pensions.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
