{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  The new State Pension - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/pensions.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>The new State Pension</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/new-state-pension/overview">Overview</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/new-state-pension/eligibility">Eligibility</a> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim" href="/new-state-pension/how-to-claim">How to claim</a> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: How it's calculated" href="/new-state-pension/how-its-calculated">How it's calculated</a> </li>
                  </ol>
                  <ol start="5">
                    <li> <span class="part-number">5.</span> <a title="Part 5: You've been in a workplace, personal or stakeholder pension" href="/new-state-pension/youve-been-in-a-workplace-personal-or-stakeholder-pension">You've been in a workplace, personal or stakeholder pension</a>                      </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Your National Insurance record and your State Pension" href="/new-state-pension/your-national-insurance-record-and-your-state-pension">Your National Insurance record and your State Pension</a>                      </li>
                    <li> <span class="part-number">7.</span> <a title="Part 7: Inheriting or increasing State Pension from a spouse or civil partner" href="/new-state-pension/inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner">Inheriting or increasing State Pension from a spouse or civil partner</a>                      </li>
                    <li class="active"> <span class="part-number">8.</span> <span>Living and working overseas</span> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>8. Living and working overseas</h1> </header>
            <p>You may contribute to the pension scheme of the country that you live or work in. Contact the pension service of the country you live or work in to find out if you’re eligible.</p>
            <p>You may also get a State Pension from both the country you worked or lived in and the UK if you meet the eligibility for both countries. You’ll have to claim your pension in each country.</p>
            <h2>You’ve worked or lived overseas</h2>
            <p>Your UK State Pension will be based on your <a href="/new-state-pension/your-national-insurance-record-and-your-state-pension">UK National Insurance record</a>.</p>
            <p>However, you may be able to use your time abroad to make up the 10 qualifying years needed to get any new State Pension. This is most likely if you’ve lived or worked in:</p>
            <ul>
              <li>the European Economic Area (<abbr title="European Economic Area">EEA</abbr>)</li>
              <li>Switzerland</li>
              <li>certain countries that have a <a href="/government/publications/state-pensions-annual-increases-if-you-live-abroad/countries-where-we-pay-an-annual-increase-in-the-state-pension#countries-the-uk-has-a-social-security-agreement-with">social security agreement with the UK</a>                </li>
            </ul>
            <div class="example">
              <p><strong>Example</strong></p>
              <p>You have 7 qualifying years from the UK on your National Insurance record when you reach State Pension age.</p>
              <p>You worked in an <abbr title="European Economic Area">EEA</abbr> country for 16 years and paid contributions to that country’s state pension.</p>
              <p>You will meet the minimum qualifying years to get the new State Pension because of the time you worked overseas. Your new State Pension amount will only be based on the 7 years of National Insurance contributions you made in the UK.</p>
            </div>
            <h1>You want to retire overseas</h1>
            <p>You can <a href="/state-pension-if-you-retire-abroad/how-to-claim">claim the new State Pension overseas</a> in most countries.</p>
            <p>Your State Pension will increase each year but only if you live in:</p>
            <ul>
              <li>the <abbr title="European Economic Area">EEA</abbr> </li>
              <li>Switzerland</li>
              <li>certain countries that have a <a href="/government/publications/state-pensions-annual-increases-if-you-live-abroad/countries-where-we-pay-an-annual-increase-in-the-state-pension#countries-the-uk-has-a-social-security-agreement-with">social security agreement with the UK</a>                </li>
            </ul>
            <p>Your new State Pension may be affected if your circumstances change. You can get more information from the <a href="/international-pension-centre">International Pension Centre</a>.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/new-state-pension/inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">Inheriting or increasing State Pension from a spouse or civil partner</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="/new-state-pension/print" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 15 April 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/pensions.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
