{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  The new State Pension - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/pensions.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>The new State Pension</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/new-state-pension/overview">Overview</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/new-state-pension/eligibility">Eligibility</a> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim" href="/new-state-pension/how-to-claim">How to claim</a> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: How it's calculated" href="/new-state-pension/how-its-calculated">How it's calculated</a> </li>
                  </ol>
                  <ol start="5">
                    <li> <span class="part-number">5.</span> <a title="Part 5: You've been in a workplace, personal or stakeholder pension" href="/new-state-pension/youve-been-in-a-workplace-personal-or-stakeholder-pension">You've been in a workplace, personal or stakeholder pension</a>                      </li>
                    <li class="active"> <span class="part-number">6.</span> <span>Your National Insurance record and your State Pension</span> </li>
                    <li> <span class="part-number">7.</span> <a title="Part 7: Inheriting or increasing State Pension from a spouse or civil partner" href="/new-state-pension/inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner">Inheriting or increasing State Pension from a spouse or civil partner</a>                      </li>
                    <li> <span class="part-number">8.</span> <a title="Part 8: Living and working overseas" href="/new-state-pension/living-and-working-overseas">Living and working overseas</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>6. Your National Insurance record and your State Pension</h1> </header>
            <p>Your <a href="/new-state-pension/eligibility">new State Pension</a> is based on your National Insurance record when you reach State Pension age.</p>
            <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>You’ll usually need to have 10 qualifying years on your National Insurance record to get any new State Pension.</p>
            </div>
            <p>You may get less than the new full State Pension if you were <a href="/new-state-pension/youve-been-in-a-workplace-personal-or-stakeholder-pension">contracted out</a> before 6 April 2016.</p>
            <p>You may get more than the new full State Pension if you would have had over a certain amount of <a href="#">Additional State Pension</a> under the old rules.</p>
            <p>You’ll need 35 qualifying years to get the new full State Pension if you don’t have a National Insurance record before 6 April 2016.</p>
            <h2>Qualifying years if you’re working</h2>
            <p>When you’re working you pay National Insurance and get a qualifying year if:</p>
            <ul>
              <li>you’re employed and earning over £155 a week from one employer</li>
              <li>you’re <a href="#">self-employed</a> and paying National Insurance contributions</li>
            </ul>
            <p>You might not pay National Insurance contributions because you’re earning less than £155 a week. You may still get a qualifying year if you earn between <a href="#">£112 and £155 a week from one employer</a>.</p>
            <h2>Qualifying years if you’re not working</h2>
            <p>You may get <a href="#">National Insurance credits</a> if you can’t work - eg because of illness or disability, or if you’re a carer or you’re unemployed.</p>
            <p>For example, you can get National Insurance credits if you:</p>
            <ul>
              <li>claim <a href="#">Child Benefit</a> for a child under 12 (or under 16 before 2010)</li>
              <li>get Jobseeker’s Allowance or Employment and Support Allowance</li>
              <li>get Carer’s Allowance</li>
            </ul>
            <h2>You’re not working or getting National Insurance credits</h2>
            <p>You might be able to <a href="#">pay voluntary National Insurance contributions</a> if you’re not in one of these groups but want to increase your State Pension amount.</p>
            <h2>Gaps in your National Insurance record</h2>
            <p>You can have <a href="#">gaps in your National Insurance record</a> and still get the full new State Pension.</p>
            <p>You can get a <a href="#">State Pension statement</a> which will tell you how much State Pension you may get. You can then apply for a <a rel="external" href="#">National Insurance statement</a>              from HM Revenue and Customs (<abbr title="HM Revenue and Customs">HMRC</abbr>) to check if your record has gaps.</p>
            <p>You may be able to make <a href="#">voluntary National Insurance contributions</a> if you have gaps in your National Insurance record that would prevent you from getting the full new State Pension.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/new-state-pension/youve-been-in-a-workplace-personal-or-stakeholder-pension"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">You've been in a workplace, personal or stakeholder pension</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/new-state-pension/inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner"> <span class="pagination-label">Next</span> <span class="pagination-part-title">Inheriting or increasing State Pension from a spouse or civil partner</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="#" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 15 April 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/pensions.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
