{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/static-2016-07-04.css" media="screen" rel="stylesheet" type="text/css" />
  {% include "includes/implementations/intercom.html" %}
{% endblock %}

{% block page_title %}
  The new State Pension - GOV.UK
{% endblock %}

{% block content %}

{% include "includes/breadcrumbs/pensions.html" %}

<div id="wrapper" class="guide guide">
  <div class="grid-row">
    <main id="content" role="main" class="multi-page">
      <header class="page-header">
        <div>
          <h1>The new State Pension</h1>
        </div>
      </header>
      <div class="article-container group">
        <div class="content-block">
          <div class="inner">
            <aside>
              <div class="inner"> <a href="#" class="show-all-parts">Show all parts of this guide</a>
                <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
                  <ol>
                    <li> <span class="part-number">1.</span> <a title="Part 1: Overview" href="/new-state-pension/overview">Overview</a> </li>
                    <li> <span class="part-number">2.</span> <a title="Part 2: Eligibility" href="/new-state-pension/eligibility">Eligibility</a> </li>
                    <li> <span class="part-number">3.</span> <a title="Part 3: How to claim" href="/new-state-pension/how-to-claim">How to claim</a> </li>
                    <li> <span class="part-number">4.</span> <a title="Part 4: How it's calculated" href="/new-state-pension/how-its-calculated">How it's calculated</a> </li>
                  </ol>
                  <ol start="5">
                    <li class="active"> <span class="part-number">5.</span> <span>You've been in a workplace, personal or stakeholder pension</span> </li>
                    <li> <span class="part-number">6.</span> <a title="Part 6: Your National Insurance record and your State Pension" href="/new-state-pension/your-national-insurance-record-and-your-state-pension">Your National Insurance record and your State Pension</a>                      </li>
                    <li> <span class="part-number">7.</span> <a title="Part 7: Inheriting or increasing State Pension from a spouse or civil partner" href="/new-state-pension/inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner">Inheriting or increasing State Pension from a spouse or civil partner</a>                      </li>
                    <li> <span class="part-number">8.</span> <a title="Part 8: Living and working overseas" href="/new-state-pension/living-and-working-overseas">Living and working overseas</a> </li>
                  </ol>
                </nav>
              </div>
            </aside>
            <header>
              <h1>5. You've been in a workplace, personal or stakeholder pension</h1> </header>
            <p>Your <a href="/new-state-pension/how-its-calculated">starting amount</a> may include a deduction if you were in certain:</p>
            <ul>
              <li>earnings-related pension schemes at work (eg a final salary or career average pension) before 6 April 2016</li>
              <li>workplace, personal or stakeholder pensions before 6 April 2012</li>
            </ul>
            <p>You may have paid lower National Insurance contributions and paid into one of these pensions instead. This is known as being <a href="#">‘contracted out’ of the Additional State Pension</a> and will
              affect most people who have been in work.</p>
            <p>You can check with your pension provider if you’ve been contracted out in the past. <a href="#">The Pension Tracing Service</a> might be able to find your pension providers’ contact details if you’ve lost contact
              with them.</p>
            <h2>Changes to contracting out from 6 April 2016</h2>
            <p>On 6 April 2016 these rules changed so that if you were contracted out:</p>
            <ul>
              <li>you’ll no longer be contracted out</li>
              <li>you’ll pay more <a href="#">National Insurance</a> (the standard amount)</li>
            </ul>
            <h2>Check if you were contracted out</h2>
            <p>Check your old payslips. You were contracted out if the National Insurance contributions line has the letter D or N next to it. You weren’t contracted out if it has a letter A.</p>
            <p>If there’s a different letter, check with your employer or pension provider.</p>
            <p>You’re more likely to have been contracted out if you worked in the public sector, for example:</p>
            <ul>
              <li>the NHS</li>
              <li>local councils</li>
              <li>fire services</li>
              <li>the civil service</li>
              <li>teaching</li>
              <li>police forces</li>
              <li>the armed forces</li>
            </ul>
            <p>You paid National Insurance at a lower rate if you were contracted out.</p>
            <footer>
              <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="/new-state-pension/how-its-calculated"> <span class="pagination-label">Previous </span> <span class="pagination-part-title">How it's calculated</span> </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="/new-state-pension/your-national-insurance-record-and-your-state-pension"> <span class="pagination-label">Next</span> <span class="pagination-part-title">Your National Insurance record and your State Pension</span> </a>
                  </li>
                </ul>
              </nav>
            </footer>
            <div class="print-link"><a rel="nofollow" href="#" target="_blank">Print entire guide</a></div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 15 April 2016</p>
        </div>
      </div>
    </main>
    {% include "includes/related-content/pensions.html" %}
  </div>
  {% include "includes/report-a-problem.html" %}
</div>

{% endblock %}
