{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/public/stylesheets/tachyons.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/custom.css" />
{% endblock %}

{% block page_title %}
  Admin interface
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div style="background: #fd3;">
    <h1 class="heading-xlarge">Notify prototype backend</h1>
  </div>

  <a href="/admin" class="big button" style="
    position: relative;
    top: -105px;
    left: -5px;
    background: blue;
    float: right;
  ">Refresh</a>

  {% if not userJourneys.length %}
    No user journeys to show.
  {% endif %}

  {% for journey in userJourneys %}
    <div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-small">Started {{ journey.started }}</h2>
        <p class="hint">{{ journey.type }}</p>
        <p>
          <a href="/admin/{{ journey.id }}/delete" style="color: red;">Delete</a>
        </p>
      </div>
      <div class="column-two-thirds">
        <table style="margin-bottom: 90px;">
          <thead>
            <tr>
              <th>key</th>
              <th>value</th>
            </td>
          </thead>
          <tbody>
            {% if 'dvla' in journey.type.toLowerCase() %}
              <tr>
                <td width="33%">name</td>
                <td width="33%">
                  {{ journey.name or '–' }}
                  <a style="float: right; margin-right: -20px;" href="/admin/{{ journey.id }}/edit/name">Edit</a>
                </td>
              </tr>
            {% endif %}
            {% for key, value in journey %}
              {% if key not in ['_id', 'type', 'nextPage', 'started', 'name', 'contact-me-by'] %}
                <tr>
                  <td width="33%">{{ key }}</td>
                  <td width="66%">
                    {{ value or '–' }}
                    {% if key == 'phone' and 'dvla' in journey.type.toLowerCase() %}
                      <a style="float: right; margin-right: -20px;" href="/admin/{{ journey.id }}/send/phone">Send update</a>
                    {% endif %}
                    {% if key == 'email' and 'dvla' in journey.type.toLowerCase() %}
                      <a style="float: right; margin-right: -20px;" href="/admin/{{ journey.id }}/send/email">Send update</a>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endfor %}

</main>

{% endblock %}
