{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet"  />
{% endblock %}

{% block page_title %}
  Webchat
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="mt5-ns mt4">
        <li><a href="/implementations/">Implementations</a></li>
        <li><a href="/jobseekers-allowance">Jobseeker's Allowance prototype</a></li>
        <li><a href="/universal-credit">Universal Credit prototype</a></li>
        <li><a href="/new-state-pension">New State Pension prototype</a></li>
        <li><a href="/shared-parental-leave-and-pay">Shared Parental Leave and Pay prototype</a></li>
        <li><a href="/dvla-change-address">DVLA address change service prototype</a></li>
        <li><a href="/pay-dartford-crossing-charge">Pay Dartford crossing charge service prototype</a></li>
        <li><a href="/state-pension-age">State pension service prototype</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
