{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/tachyons.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" rel="stylesheet"  />
{% endblock %}

{% block page_title %}
  GOV.UK Notify user research prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <h1 class="b f2 f1-l mv4">Hello Holly</h1>
    <p>
      <a href="/journey/dvla-change-address">Tell DVLA you’ve changed address</a>
    </p>
    <p>
      <a href="/journey/pay-dartford-crossing-charge">Pay Dartford Crossing Charge</a>
    </p>
    <p>
      <a href="/admin">Backend</a>
    </p>
</main>

{% endblock %}
