{% extends "layout.html" %}

{% block page_title %}
  Webchat
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Webchat</h1>

      <ul>
        <li><a href="/webchat-implementations/">Implementations</a></li>
        <li><a href="/jobseekers-allowance">Jobseeker's Allowance prototype</a></li>
        <li><a href="/universal-credit">Universal Credit prototype</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
