<!-- related -->
<div class="related-container">
  <aside class="related" id="related">
    <div class="inner group related-subsection">
      <h2 id="parent-subsection">Benefits entitlement</h2>
      <nav role="navigation" aria-labelledby="parent-subsection">
        <ul>
          <li><a href="/jobseekers-allowance">Jobseeker's Allowance</a></li>
          <li><a href="/universal-credit">Universal Credit</a></li>
        </ul>
      </nav>
    </div>
    <div class="inner group related-other">
      <h2 id="parent-other">Contact DWP</h2>
      <nav role="navigation" aria-labelledby="parent-other">
        <ul>
          <li>
            Phone: <a class="inline" href="tel:0800 055 6688">0800 055 6688</a><br />
            Monday to Friday, 8am to 6pm
          </li>
          <li>
            Webchat: <a class="inline" href="/">Speak to an adviser</a><br />
            Monday to Saturday, 8am to 10pm
          </li>
        </ul>
      </nav>
    </div>
    <div class="inner group"> <a class="return-to-top" href="#content">Return to top ↑</a> </div>
  </aside>
</div>
<!-- end related -->
