<!-- related -->
<div class="related-container">
  <aside class="related" id="related">
    <div class="inner group related-subsection">
      <h2 id="parent-subsection">Financial help if you have children</h2>
      <nav role="navigation" aria-labelledby="parent-subsection">
        <ul>
          <li> <a href="/pay-leave-for-parents">Calculate your leave and pay when you have a child</a> </li>
          <li class="related-topic"><a href="/browse/childcare-parenting/financial-help-children">More <span class="visuallyhidden">in Financial help if you have children</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="inner group"> <a class="return-to-top" href="#content">Return to top ↑</a> </div>
  </aside>
</div>
<!-- end related -->
