<!-- related -->
<div class="related-container">
  <aside class="related" id="related">
    <div class="inner group related-subsection">
      <h2 id="parent-subsection">State Pension</h2>
      <nav role="navigation" aria-labelledby="parent-subsection">
        <ul>
          <li> <a href="#">The basic State Pension</a> </li>
          <li> <a href="#">Additional State Pension</a> </li>
          <li> <a href="#">Contracted out of the State Pension</a> </li>
          <li> <a href="#">Your partner’s National Insurance record and your State Pension</a> </li>
          <li class="related-topic"><a href="#">More <span class="visuallyhidden">in State Pension</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="inner group related-section">
      <h2 id="parent-section">Working, jobs and pensions</h2>
      <nav role="navigation" aria-labelledby="parent-section">
        <ul>
          <li> <a href="#">Plan your retirement income</a> </li>
          <li> <a href="#">Workplace pensions</a> </li>
          <li class="related-topic"><a href="#">More <span class="visuallyhidden">in Working, jobs and pensions</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="inner group"> <a class="return-to-top" href="#content">Return to top ↑</a> </div>
  </aside>
</div>
<!-- end related -->
